.brand {
    color: #03aa03;
}

main {
    margin-top: 128px;
}

#description > h3 {
    text-align: center;
    font-size: 1.7em;
    line-height: 48px;
}

#choice {
    margin-top: 64px;
    display: flex;
    align-items: center;
    justify-content: center;
}

h5 {
    font-size: 2em;
    margin: 0;
}

.colorBox {
    margin: 0 50px;
    font-size: 1.5em;
    text-align: center;
    border-radius: 20px;
    padding: 60px 40px;

    background: #FBE9C5;
    transition: all 500ms ease;
}

.colorBox.hover {
    background: rgba(0,0,0,0);
	box-shadow: inset 0 0 0 3px #3a7999;
}
