<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/purecss@3.0.0/build/pure-min.css" integrity="sha384-X38yfunGUhNzHpBaEBsWLO+A0HDYOQi8ufWDkZ0k9e0eXz/tH3II7uKZ9msv++Ls" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='style/styles.css') }}">
    <title>{% block title %}Мое приложение{% endblock %}</title>
</head>
<body>
    <div class="sidebar" id="sidebar">
        <div class="hamburger" id="hamburger">&#9776;</div>
        <h2>Меню</h2>
        <ul>
            <li><a href="/">На главную</a></li>
            <li><a href="/seller">Раздел для поставщика</a></li>
            <li><a href="/buyer">Раздел для покупателя</a></li>
            <li><a href="/control_panel">Панель управления</a></li>
        </ul>
    </div>
    <div class="content">
      {% block content %}{% endblock %}
    </div>

    <script src="{{ url_for('static', filename='scripts/scripts.js') }}"></script>
</body>
</html>
