{% extends 'base.html' %}

{% block title %}Покупка запчастей{% endblock %}

{% block content %}
<h1>Форма поиска запчастей для агротехники</h1>
<p>Для отправки деталей перейдите <a href="/seller">сюда</a></p>
<form id="find_spare_parts" class="pure-form">
    <fieldset>
        <select id="spare_part_model" name="spare_part_model">
        {% for model in all_models %}
        <option value="{{ model }}">{{ model }}</option>
        {% endfor %}
         </select>
        <button type="submit" class="pure-button pure-button-primary">Найти доступные</button>
    </fieldset>
</form>
<table id="table_data"  class="pure-table pure-table-bordered" style="display: none;">
    <thead>
        <tr>
            <th>Запчасть</th>
            <th>Машина</th>
            <th>Цена</th>
            <th>Поставщик</th>
        </tr>
    </thead>
    <tbody id="view_data">
    </tbody>
</table>
{% endblock %}
