{% extends 'base.html' %}

{% block title %}Свое Фермерство{% endblock %}

{% block content %}
 <header>
    <h1><span class="brand">РСХБ цифра:</span> Своё Фермерство</h1>
</header>
    <div id="description">
        <h3>Приветсвуем вас в автоматическом подборщике запчастей!<br> Что бы вы хотели сегодня?</h3>
    </div>
    <div id="choice">
        <div class="colorBox">
            <h5>я <span class="brand3">поставщик</span></h5>
            <p>И хочу <span class="brand">добавить</span> свой товар</p>
            <a class="pure-button pure-button-primary" href="seller">Добавить</a>
        </div>
        <div class="colorBox">
            <h5>я <span class="brand3">покупатель</span></h5>
            <p>И хочу <span class="brand">найти</span> нужную запчасть</p>
            <a class="pure-button pure-button-primary" href="buyer">Найти</a>
        </div>
    </div>
{% endblock %}
