<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/purecss@3.0.0/build/pure-min.css" integrity="sha384-X38yfunGUhNzHpBaEBsWLO+A0HDYOQi8ufWDkZ0k9e0eXz/tH3II7uKZ9msv++Ls" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='style/main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style/index.css') }}">
    <title>Своё Фермерство</title>
</head>
<body>
    <header>
        <h1><span class="brand">РСХБ цифра:</span> Своё Фермерство</h1>
    </header>

    <main>
        <div id="description">
            <h3>Приветсвуем вас в автоматическом подборщике запчастей!<br> Что бы вы хотели сегодня?</h3>
        </div>
        <div id="choice">
            <div id="seller">
                <h5>я <span class="brand3">поставщик</span></h5>
                <p>И хочу <span class="brand">добавить</span> свой товар</p>
                <a class="pure-button pure-button-primary" href="seller">Добавить</a>
            </div>
            <div id="buyer">
                <h5>я <span class="brand3">покупатель</span></h5>
                <p>И хочу <span class="brand">найти</span> нужную запчасть</p>
                <a class="pure-button pure-button-primary" href="buyer">Найти</a>
            </div>
        </div>
    </main>
</body>
</html>