<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/purecss@3.0.0/build/pure-min.css" integrity="sha384-X38yfunGUhNzHpBaEBsWLO+A0HDYOQi8ufWDkZ0k9e0eXz/tH3II7uKZ9msv++Ls" crossorigin="anonymous">
    <title>Поставка запчастей</title>
</head>
<body>
    <style>
        body {
            background-color: #D3D5D7;
            color: #050517;
        }

        body {
            padding: 50px;
        }
        p, a {font-size: 1.4em;}
        h1 {font-size: 3em;}
    </style>
    <h1>Форма отправки запчастей для поставщика</h1>
    <p>Для поиска подходящих детелай перейдите <a href="./buyer">сюда</a></p>
        <form class="pure-form" action="./send_spare_part" method="POST">
            <fieldset>
                <input type="text" name="spare_part_name" placeholder="Запчасть" />
                <select name="spare_part_model">
                    <option value="model_1">Трактор-1</option>
                    <option value="model_2">Трактор-2</option>
                    <option value="model_3">Кукурузник-1</option>
                </select>
                <input type="text" name="spare_part_price" placeholder="Цена"/>
                <input type="text" name="seller_name" placeholder="Имя поставщика"/>
                <button type="submit" class="pure-button pure-button-primary">Отправить</button>
            </fieldset>
        </form>
    
</body>
</html>