<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/purecss@3.0.0/build/pure-min.css" integrity="sha384-X38yfunGUhNzHpBaEBsWLO+A0HDYOQi8ufWDkZ0k9e0eXz/tH3II7uKZ9msv++Ls" crossorigin="anonymous">
    <title>Успех</title>
</head>
<body>
    <h1>Данные добавлены успешно!</h1>
    <a class="pure-button" href="/">Вернуться на главную</a>

    <style>
        body {
            background-color: rgb(120, 249, 145);
            color: #1D3557;
            padding: 50px;
        }
        p, a {font-size: 1.4em;}
        h1 {font-size: 3em;}
    </style>
</body>
</html>